*, body {
    box-sizing: border-box;
}

.title {
    
    position: absolute;
    top: 30px;
    color: white;
    font-size: 3rem;
    animation: intro-text 1s;
}

body {
    background-color: #ff0a54;
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
    overflow: hidden;
    font-size: 16px;
    flex-direction: column;
    font-family: sans-serif;
}



@keyframes intro-anim {
    0% {
        filter: blur(10px);
    }
    100% {
        filter: blur(0px);
    }
}


@keyframes intro-text {
    0% {
        position: absolute;
        top: -100px;
        filter: blur(10px);
    }

    100% {
        position: absolute;
    }
    
}

.calc-body {
    border: solid black 5px;
    background: linear-gradient(0deg, #e01e37,#641220  );
    width: 30rem;
    height: 35rem;
    display: flex;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 10px #610d18;
    animation: intro-anim 3s;

}
.button {
    background-color: #220901;
    height: 4rem;
    width: 4rem;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    border: solid gray 2.5px;

}

.button p {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    user-select: none;
    
}

.button:hover {
    background-color: #f53d00;
    transition: .5s;
    border: solid black 2.5px;
}

.calc-body .calc-upper-interface {
    background: linear-gradient(180deg, #641220, #e01e37);
    height: 40%;
    width: 100%;
    border-radius: 1rem 1rem 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 5px black;
    z-index: 1;
}

.calc-screen {
    border-radius: .5rem;
    height: 40%;
    width: 80%;
    background-color: #ffb3c1;
    color: black;
    font-size: 2rem;
    align-items: center;
    display: flex;
    padding: 0 10px 0 10px;
    border: black solid 5px;
}

.calc-lower-interface {
    height: 60%;
    width: 65%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-items: center;
}